.contenido {
text-align: center;
}

#tituloCliente{
font-size: 15px;
margin-top: -20px;
display: flex;
}


.iconosRojosCliente{
color: #E12424;
}

.rojoCliente{
background: #E12424;
color: white;

}

.rojoCliente:hover{
background: #f33928;
}

.rojoCliente:active{
box-shadow: 1px 1px 1px 1px #f33928;
}

.vinotintoCliente{
background: #48110d;
color: white;
}

.vinotintoCliente:hover{
background: #771d17;

}

.vinotintoCliente:active{
box-shadow: 1px 1px 1px 1px #771d17;
}
/*-------------------------------------------------------------*/
.tablaCliente {
margin: 40px;
margin-top: 100px;
}


.toggle-icon {
color: #48110d;
cursor: pointer;
}

td i {
font-size: 24px;
margin-right: 10px;
}

/* Estilo general de la tabla */
#tablaDataTableCliente {
border-collapse: collapse;
width: 100%;
border: 1px solid #ddd;
}

/* Estilo de las celdas de encabezado */
#tablaDataTableCliente th {
background-color: #f2f2f2;
padding: 8px;
border-bottom: 1px solid #ddd;
}

/* Estilo de las celdas de datos */
#tablaDataTableCliente td {
padding: 8px;
border-bottom: 1px solid #ddd;
}

/* Estilo de las celdas de datos en las filas impares */
#tablaDataTableCliente tr:nth-child(odd) td {
background-color: #f2f2f2;
}

/*----------------------------------*/

.botonesCliente {
    position: absolute;
    z-index: 200;
    margin-left: 79vh;
    display: flex;
    margin-top: -50px;
    margin-bottom: -90px;
}

.botonCliente{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
}

.botonAgregarCliente {
    margin-right: 82px;
    background-color: #E12424;
    color: white;
}

.boton-generarCliente {
    background-color: #48110d;
    color: white;
}


