.contenido {
    text-align: center;
}



#titulo{
    font-size: 20px;
    margin-top: -25px;
    display: flex;
    margin-left: 30px;
}

.iconosRojos {
    color: #E12424;
}


input::placeholder {
    padding-left: 20px;
}

input {
    border-radius: 3px;
    border: 1px solid #6d6d6d;
}

.rojo{
    background: #E12424;
    color: white;

  }
  
  .rojo:hover{
    background: #f33928;
  }
  
  .rojo:active{
    box-shadow: 1px 1px 1px 1px #f33928;
  }

  .vinotinto{
    background: #48110d;
    color: white;
  }
  
  .vinotinto:hover{
    background: #771d17;
    
  }
  
  .vinotinto:active{
    box-shadow: 1px 1px 1px 1px #771d17;
  }

/*------------------*/



.iconosRojos {
    color: #E12424;
    cursor: pointer;
}

/*----------------------------------*/

.botones {
    position: absolute;
    z-index: 200;
    margin-left: 88vh;
    display: flex;
    margin-top: -50px;
    margin-bottom: -90px;
}

.boton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.botonAgregar {
    margin-right: 82px;
    background-color: #E12424;
    color: white;
}

.boton-generar {
    background-color: #48110d;
    color: white;
    font-size: 20px;
}

.boton i {
    margin-right: 10px;
}

.estado3-button {
    background-color: #4caf4f59;
    color: #4caf4f;
    border: none;
    border-radius: 5px;
}

.estado1-button {
    background-color: #b69f5260;
    color: #b69f52;
    border: none;
    border-radius: 5px;
}

.estado2-button{
    background-color: #b6525260;
    color: #b65252;
    border: none;
    border-radius: 5px;
}

.tabla{
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 30px;
}

.busqueda{
    height: 30px;
    border-radius: 20px;
    width: 500px;
    margin-left: -250px;
    margin-right: 250px;
    margin-top: 20px;
}

.acciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

    .acciones button{
        margin-left: 10px;
        margin-top: -6px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        font-size: 20px;
    }


#estado_pedido{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}