.botones{
    display: flex;
    margin-left: 70%;
    margin-top: -50px;
}

.botones .boton{
    width: 90px;
    display: flex;
    justify-content: space-around;
    height:40px;
    align-items: center;
    font-size: 25px;
}
.boton-generar {
    background-color: #48110d;
    color: white;
}

.rojo{
    background: #E12424;
    color: white;
}
  
.rojo:hover{
    background: #f33928;
}
  
.rojo:active{
    box-shadow: 1px 1px 1px 1px #f33928;
}


#titulo {
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 15px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-top: -15px;
    margin-left: 90px;
}
.iconosRojos{
    color: #E12424;
}

.iconosMorados{
    color:#8a0000
}

.vinotinto{
background: #48110d;
color: white;
}

.vinotinto:hover{
background: #771d17;

}

.vinotinto:active{
box-shadow: 1px 1px 1px 1px #771d17;
}

.tabla{
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 30px;
}

.busqueda{
    height: 30px;
    border-radius: 20px;
    width: 600px;
    margin-left: -160px;
    margin-right: 160px;
    margin-top: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 34px;
    transition: 0.4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"]:checked + .slider {
        background-color: #771d17;
    }

        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(17px);
        }

